@model HR_Manager.Models.Recruitment

@{
    ViewBag.Title = "Rekrutacja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        @if (Model.JobOffer != null)
        {
            <h1>@Html.DisplayFor(model => model.JobOffer.Name)</h1>
            <p>Lokalizacja: @Html.DisplayFor(model => model.JobOffer.Location)</p>
            <p>
                Status rekrutacji:
                @{
                    if (Model.JobOffer.Current == true)
                    {
                        <text>Aktualna</text>
                    }
                    else
                    {
                        <text>Zakończona</text>
                    }
                }
            </p>
                    }
                    else
                    {
                        <h1>Rozpocznij rekrutację</h1>
                    }
        <p>Nr. rekr: @Html.DisplayFor(model => model.Id)</p>
    </div>

    <p>
        <a href="@Url.Action("Index", "Home")" type="button" class="btn btn-default">Strona główna</a>

        <a href="@Url.Action("ShowJobOfferList", "Career")" type="button" class="btn btn-default">Lista ogłoszeń</a>
    </p>
    <hr />

    @if (Model.JobOffer == null)
    {
        <div class="row">
            <a href="@Url.Action("AddJobOffer", "Career", new { jobOfferId = Model.Id })">
                <div class="col-sm-4 tile">
                    <img class="img-responsive center-content" alt="Rozpocznij rekrutacje" src="~/Content/Images/5.png">
                    <h3>Dodaj ogłoszenie</h3>
                    <p>
                        Dpdaj ogłoszenie i znajdź idealnego kandydata
                    </p>
                </div>
            </a>

        </div>
    }
    else
    {

        <dic class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#JobOfferInfo"><strong>Informacje o ogłoszeniu</strong></div>
                <div class="panel-body collapse in" id="JobOfferInfo">
                    <h1>@Html.DisplayFor(model => model.JobOffer.Name)</h1>
                    <p>Lokalizacja: @Html.DisplayFor(model => model.JobOffer.Location)</p>
                    <div class="panel-body collapse in" id="JobDescriptionPanel">@Html.Raw(Model.JobOffer.JobDescription)</div>
                </div>
            </div>
        </dic>
        <div class="col-md-2">
            <div class="btn-group-vertical">
                @Html.ActionLink("Edytuj", "Edit", "Career", new { id = Model.JobOffer.OfferNumber }, new { type = "button", @class = "btn btn-lg btn-default" })
                @Html.ActionLink("Pokaż", "Show", "Career", new { id = Model.JobOffer.OfferNumber }, new { type = "button", @class = "btn btn-lg btn-default" })
            </div>
        </div>

        <hr />
        <dic class="col-md-6">
            @using (Ajax.BeginForm("AddRecruitmentEvent", "Recruitment", null, new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "resultTarget"
            }, new { id = "MyNewNameId" })) // set new Id name for  Form
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Dodaj zdarzenie</strong>
                    </div>
                    <div class="panel-body">

                        @Html.AntiForgeryToken()
                        <textarea type="text" class="form-control span6 col-md-8" name="text" , rows="10" ></textarea>

                    </div>
                    <div class="panel-footer">
                        <input type="submit" class="btn btn-default" value="Dodaj zdarzenie"/>
                    </div>
                </div>
            }

            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#RecruitmentEvents"><strong>Przebieg rekrutacji</strong></div>
                <div class="panel-body collapse in" id="RecruitmentEvents">

                    <div id="resultTarget">

                            @Html.Partial("_ShowEventView", Model.Events);

                    </div>
                </div>
            </div>
        </dic>

        <dic class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#Candidates"><strong>Kandydaci</strong></div>
                <div class="panel-body collapse in" id="Candidates">
                    Kandydaci
                </div>
            </div>
        </dic>

    }
</div>