@model ICollection<HR_Manager.Models.SkillTag>
<div>
    @using (Ajax.BeginForm("AddTag", "Candidate", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "tag-list-" + ViewBag.PersonId,
        InsertionMode = InsertionMode.Replace,
        OnSuccess = string.Format("clearInput(\'{0}\')", "newTag-inp-" + @ViewBag.PersonId)



    }, new { @class = "form-inline", role = "form", id = "form-tag-" + ViewBag.PersonId }))
    {
        @Html.AntiForgeryToken()



        <input type="hidden" value="@ViewBag.PersonId" name="id" id="newTag-inp-hidden-@ViewBag.PersonId" />
            <label for="newTag">Nazwy tagów:</label>
            <input type="text" class="form-control" id="newTag-inp-@ViewBag.PersonId" name="newTag" data-autocomplete-url="@Url.Action("SearchTag")">
            <input type="submit" value="Dodaj" class="btn btn-default" id="newTag-btn-@ViewBag.PersonId" />


    }

    <hr />
    <div id="tag-list-@ViewBag.PersonId">
        @Html.Partial("_TagList", Model)
    </div>
</div>


<script type="text/javascript" language="javascript">

    $(document).ready(function () {
        $('*[data-autocomplete-url]')
            .each(function () {
                $(this).autocomplete({
                    source: $(this).data("autocomplete-url"),

                    select: function (event, ui) {
                        $("#newTag-btn-@ViewBag.PersonId").click();
                    }

                });
            });
    });

</script>
