@model HR_Manager.Models.Candidate

<div>
    <h4>@Model.Person.GetFullName()</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Person.PhoneNumber != null)
        {
            <dt>
                <strong>@Html.DisplayNameFor(model => model.Person.PhoneNumber)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Person.PhoneNumber)
            </dd>
        }
        @if (Model.Person.Email != null)
        {
            <dt>
                <strong>@Html.DisplayNameFor(model => model.Person.Email)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Person.Email)
            </dd>
        }
        @if (Model.Person.GetAdress() != null)
        {
            <dt>
                <strong>Adres</strong>
            </dt>
            <dd>
                @Model.Person.GetAdress()
            </dd>
        }
        @if (Model.FinancialExpectations != null)
        {
            <dt>
                <strong>@Html.DisplayNameFor(model => model.FinancialExpectations)</strong>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FinancialExpectations)
            </dd>
        }



        <dt>
            <strong>@Html.DisplayNameFor(model => model.ReadyToMove)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReadyToMove)
        </dd>



        <dt>
            <strong>@Html.DisplayNameFor(model => model.Invited)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invited)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.ApplyTime)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplyTime)
        </dd>

    </dl>
    <hr />

    <dl class="dl-horizontal">
        <dt class="vert-align">
            <strong>@Html.DisplayNameFor(model => model.MeetsRequirements)</strong>
        </dt>

        <dd class="vert-align">


            <div class="btn-group">
                <button type="button" class="btn btn-default">
                    <div id="divToReplace_@Model.Id">
                        @if (Model.MeetsRequirements)
                        {
                            <text>Tak</text>
                        }
                        else
                        {
                            <text>Nie</text>
                        }
                    </div>
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li class="yesOrNo">@Ajax.ActionLink("Tak", "MeetsRequirementsChange", "Candidate", new { canndidateId = Model.Id, choice = true }, new AjaxOptions { HttpMethod = "POST" })</li>
                    <li class="yesOrNo">@Ajax.ActionLink("Nie", "MeetsRequirementsChange", "Candidate", new { canndidateId = Model.Id, choice = false }, new AjaxOptions { HttpMethod = "POST" })</li>
                </ul>
            </div>
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", "People", new { id = Model.Person.Id },null)
</p>
<script>
    //$(document).ready(function(){
    $("li.yesOrNo").click(function () {
        text = $(this).text();
        $("#divToReplace_@Model.Id").text(text);
    });
    //});
</script>
