@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron tile">
    <h1>HR Manager</h1>
</div>

<div class="row">

    <a href="@Url.Action("Create", "Recruitment")">
        <div class="col-sm-4 tile">
            <img class="img-responsive center-content" alt="Rozpocznij rekrutacje" src="@Url.Content("~/Content/Images/2.png")">
            <h3>Rozpocznij rekrutacje</h3>
            <p>
                Rozpocznij nową rekrutację. Stwórz ogłoszenie i śledź postępy w poszukiwaniu najlepszego kandydata
            </p>
        </div>
    </a>

    <a href="@Url.Action("List", "Recruitment")">
        <div class="col-sm-4 tile">
            <img class="img-responsive center-content" alt="Menadżer rekrutacji" src="@Url.Content("~/Content/Images/13_12.png")">
            <h3>Menadżer rekrutacji</h3>
            <p>
                Przeglądaj listę prowadzonych obecnie rekrutacji i bądź zawsze na bieżąco z postępami
            </p>
        </div>
    </a>

    <a href="@Url.Action("ShowJobOfferList", "Career")">
        <div class="col-sm-4 tile">
            <img class="img-responsive center-content" alt="Baza ogłoszeń" src="@Url.Content("~/Content/Images/13.png")">
            <h3>Przeglądaj bazę ogłoszeń</h3>
            <p>
                Zarządaj swoimi ogłoszeniami i edytuj ich treść by twoja oferta była zawsze aktualna
            </p>
        </div>
    </a>
</div>
<div class="row">
    <a href="@Url.Action("Create", "People")">
        <div class="col-sm-4 tile">
            <img class="img-responsive center-content" alt="Dodaj do bazy" src="@Url.Content("~/Content/Images/3.png")">
            <h3>Dodaj do bazy<br></h3>
            <p>
                Dodaj osobę do bazy personalnej, aby móc się z nią skontaktować w przyszłości
            </p>
        </div>
    </a>

    <a href="@Url.Action("Index", "People")">
        <div class="col-sm-4 tile">
            <img class="img-responsive center-content" alt="Szukaj kandydata" src="@Url.Content("~/Content/Images/4.png")">
            <h3>Baza personalna<br></h3>
            <p>
                Przeglądaj swoją bazę personalną by szybo znaleźć odpowienią osobę
            </p>
        </div>
    </a>

    <a href="@Url.Action("About", "Home")">
        <div class="col-sm-4 tile">
            <img class="img-responsive center-content" alt="Szukaj kandydata" src="@Url.Content("~/Content/Images/8.png")">
            <h3>Informacje o autorach<br></h3>
            <p>
                Tu znajdziesz informacje o autorach aplikacji.
            </p>
        </div>
    </a>
</div>