@model HR_Manager.Models.JobOffer

@{
    ViewBag.Title = "Rekrutacja";
}

<div class="container">
    <div class="jumbotron">
        <h1>@Html.DisplayFor(model => model.Name)</h1>
        <p>Lokalizacja: @Html.DisplayFor(model => model.Location)</p>
        <p>Nr. ogłoszenia: @Html.DisplayFor(model => model.OfferNumber)</p>
        <p>Status: @{
                        if (Model.Current == true)
                        {
                            <text>Aktualne</text>
                        }
                        else
                        {
                            <text>Nieaktualne</text>
                        }
                    }
        </p>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <a href="@Url.Action("Index", "Home")" type="button" class="btn btn-default">Strona główna</a>

            <a href="@Url.Action("Show", "Recruitment", new {id = Model.OfferNumber })" type="button" class="btn btn-default">Rekrutacja</a>

            <a href="@Url.Action("ShowJobOfferList", "Career")" type="button" class="btn btn-default">Lista ogłoszeń</a>
        </p>
    }


   @if (!string.IsNullOrEmpty(Model.AboutCompany)) { 
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#AboutCompanyPanel"><strong>O firmie</strong></div>
        <div class="panel-body collapse in" id="AboutCompanyPanel">@Html.Raw(Model.AboutCompany)</div>
    </div>
   }

@if (!string.IsNullOrEmpty(Model.JobDescription))
{
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#JobDescriptionPanel"><strong>Opis stanowiska</strong></div>
        <div class="panel-body collapse in" id="JobDescriptionPanel">@Html.Raw(Model.JobDescription)</div>
    </div>
}

@if (!string.IsNullOrEmpty(Model.Expectations))
{
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#ExpectationsPanel"><strong>Oczekiwania wobec kandydata</strong></div>
        <div class="panel-body collapse in" id="ExpectationsPanel">@Html.Raw(Model.Expectations)</div>
    </div>
}

@if (!string.IsNullOrEmpty(Model.Offer))
{
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#OfferPanel"><strong>Oferujemy</strong></div>
        <div class="panel-body collapse in" id="OfferPanel">@Html.Raw(Model.Offer)</div>
    </div>
}

@if (Model.Current != false)
{
    <div class="col-md-4"></div><a type="button" class="btn btn-default btn-lg center-content col-md-4" href="@Url.Action("Apply", "Career", new { id = Model.OfferNumber })">Aplikuj na stanowisko</a>

}
</div>
   
@*201512141637364*@